<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/index.css">
    <title>b0mb3r 💣</title>
</head>
<body>
<div id="block-ui">
    <div id="loader"></div>
</div>

<div id="main">
    <h1 id="logo">b0mb3r 💣</h1>
    <p class="lead" id="sms">Доступно SMS-сервисов: <span class="badge badge-pill badge-primary">{{sms}}</span></p>
    <form id="phone" action="/sms" method="post">
        <div class="form-row">
            <div class="col">
                <label for="phones"></label>
                <input type="text" class="form-control" id="phones" name="phones" aria-describedby="phonesHelp"
                       placeholder="Номер телефона" minlength="11" required>
            </div>

            <div class="col">
                <label for="count"></label>
                <input type="number" class="form-control" id="count" name="count" placeholder="Повторы" value="1"
                       min="1" max="1000" required>
            </div>
        </div>
        <small id="phonesHelp" class="form-text text-muted">Введите номер в формате
            79XXXXXXXXX или несколько
            номеров через запятую.
        </small>
        <button type="submit" class="btn btn-primary btn-lg">Начать атаку</button>
    </form>
</div>

<div class="mt-auto py-3 footer" id="footer">
    <span class="text-muted">Made with ❤️ by crinny.</span>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $('#phone').submit(function (e) {
        e.preventDefault();
        $('#main').css({'filter': 'blur(3px)', '-webkit-filter': 'blur(3px)'});
        $('#footer').css({'filter': 'blur(3px)', '-webkit-filter': 'blur(3px)'});
        $('#block-ui').css('display', 'block');
        $.ajax({
            url: '/sms',
            type: 'post',
            data: $('#phone').serialize(),
            success: function () {
                $('#main').css({'filter': 'blur(0px)', '-webkit-filter': 'blur(0px)'});
                $('#footer').css({'filter': 'blur(0px)', '-webkit-filter': 'blur(0px)'});
                $('#block-ui').css('display', 'none');
            }
        });
    });
</script>
</body>
</html>